<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.permission.READ_CONTACTS" /> <!-- mandar email e sms -->
    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data
                android:host="*"
                android:scheme="smsto" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data
                android:host="*"
                android:scheme="mailto" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AulasMobile"
        tools:targetApi="31">

        <service
            android:name=".Threadss$ServicoTop"
            android:icon="@drawable/ic_launcher_foreground"
            android:label="Meu Servico"
            android:process=":meu_processo" />

        <activity
            android:name=".Threadss"
            android:exported="false" />
        <activity
            android:name=".todo.ToDo"
            android:exported="false" />
        <activity
            android:name=".DbTeste"
            android:exported="false" />
        <activity
            android:name=".Maps"
            android:exported="false" />
        <activity
            android:name=".Webb"
            android:exported="false" />
        <activity
            android:name=".ScrollVieww"
            android:exported="false" />
        <activity
            android:name=".GridLayout"
            android:exported="false" />
        <activity
            android:name=".Aula1403"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>